{% extends 'base.html.twig' %}

{% block title %}New Newsletter{% endblock %}

{% block body %}
    <h1>Créer des noewsletters</h1>

    {{ include('newsletter/_form.html.twig') }}

    <a href="{{ path('newsletter_index') }}">retourner à la liste</a>
{% endblock %}
